<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<style>
		.red{
			color: red;
		}
	</style>
</head>
<body>
<div id="app">
	<input type="text" v-model='msg' @keyup='filter'>
	<button @click='add'>add</button>
	<ul>
		<li v-for='item in itemshow' :class={red:item.active} @click='item.active=!item.active'>{{item.val}}</li>
	</ul>
</div>
	<script src='js/vue.js'></script>
	<script>
		new Vue({
			el:'#app',
			data:{
				msg:'',
				items:[],
				itemshow:[]
				
			},
			methods:{
				add:function(){
					
					if(this.msg!=''){
						this.items.push({val:this.msg,active:false});
						this.msg='';
						this.items.sort(function(a,b){
							return a.val>b.val;
						});
						this.itemshow=this.items;
					}
				},
				filter:function(){

					var _msg=this.msg;
					//这里用_msg存储this.msg是因为下面的函数如果用this就不是这个对象了而是Window 这种情况经常遇到 所以这个方法经常用到。而且下面这个函数也经常用到需要记住
					var arr=this.items.filter(function(obj){
						return obj.val.indexOf(_msg)>-1;
					})
					this.itemshow=arr;
				}
			}
		})
	</script>
</body>
</html>